/* WEB FONTS -------------*/

@font-face {
	font-family: 'Cinzel', Helvetica, serif;

}

/* BASE STYLES -------------*/

* {
	box-sizing: border-box;
}


body {
	font-family: 'Cinzel', Helvetica, serif;
	background-color: #2a9dea; 
}


h1,
h2,
h3 {
	text-align: center;
}


h1 {
	margin: 0;
	font-size: 5.625rem;
	/*color: #fff;*/
	text-shadow: 0 3px 3px rgba(0, 0, 0, .8);

}

h2 {
	color: red;
	font-size: 3rem;
	text-shadow: 0 3px 3px rgba(256, 256, 256, .8);
}

nav {
	font-weight: bold;
	text-align: center;
	background-color: #64defc;
	margin: -15px -15px;
}

nav li {
	display: inline-block;
	padding: 15px 10px;
}

ul {
	padding-left: 0;
	list-style: none;
	text-align: center;
}

ul li img {
	max-width: 45%;
}

ul li p {
	max-width: 45%
}

p {
	max-width: 60%;
	text-indent: 30px;
	text-align: justify;
	margin: auto;
}

footer p {
	text-align: center;
	clear: both;
}

hr {
	margin: 50px auto;
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    clear: both;
}


/* PSEUDO-CLASSES ------------*/


a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
}

a:active, a:hover, a:focus {
	color: #077727;
}

::-webkit-input-placeholder {
	font-family:  'Cinzel', Helvetica, sans-serif;
}


/* MAIN STYLES -------------*/


.index-header {
	height: 600px;
	margin: -10px -20px;
	background: url('./images/limber_header.jpg') no-repeat center;
	background-size: cover;
	vertical-align: middle;
}

.press-header {
	height: 600px;
	padding: 0;
	margin: -10px -20px;
	background: url('./images/rockypuffy.jpg') no-repeat center;
	background-size: cover;
	vertical-align: middle;
}

.platform-header {
	height: 600px;
	margin: -10px -20px;
	background: url('./images/new_Rushmore.jpg') no-repeat center;
	background-size: cover;
	vertical-align: middle;
}

.gear-header {
	padding-top: 0;
	margin: 0 -20px;
	color: #fddc93;
	vertical-align: middle;
}

.nav-bar {
	margin: 0 -15px;
}

.wrapper {
	max-width: 940px;
	margin: 0 auto;
	/*padding: 0 5%;*/
}


.footer {
	font-size: 0.75rem;
	padding-top: 50px;
	text-align: center;
	clear: both;
}

.social {
	width: 20px;
	height: 20px;
	margin: 0 5px;
}


/* MAIN PAGE -------------*/


#motto {
	text-align: center;
	margin: 0;
	color: #fff;
	background-color: rgba(255, 255, 255, .2);
} 

#inputs {
	text-align: center;
	clear: both;
	padding-bottom: 10px;
}

.fields {
	margin: 15px 10px;
	height: 35px;
	width: 150px;
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #888888;
}

#meow {
	margin: 15px 10px;
	height: 35px;
	width: 60px;
	background-color: #fff;
	font-family: 'Cinzel', Helvetica, sans-serif;
	font-weight: bold;
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #888888;
} 

#join-us {
	text-align: center;
	margin: auto;
	display: block;
	width: 150px;
	background-color: rgba(255, 255, 255, .2);
}

#video {
	text-align: center;
	padding: 30px 20px 20px;
}


/* PLATFORM PAGE -------------------*/


#plat-hl {
	color: #fff;
}

#issues {
	width: 100%;
}

#issues img {
	float: left;
	clear: both;
	padding-bottom: 30px;
}

#issues p {
	float: right;
	clear: right;
	font-size: 0.825rem;
}

#matters {
	max-width: 100%;
}

#matters a {
	font-weight: bold;
}

#voter {
	vertical-align: middle;
	max-width: 30%;
	margin: auto;
	clear: both;
	padding-bottom: 50px;
}

#life {
	clear: both;
	padding-top: 50px;
}


/* GEAR PAGE -----------------*/


#gear-meow {
	text-align: center;
	color: #fddc93;
}

#gallery {
	margin: 0;
	padding: 0;
	list-style: none;
	clear: both;
}

#gallery li {
	float: left;
	width: 45%;
	margin: 2.5%;
}

#gallery li p {
	text-align: center;
	font-weight: bold;
	background-color: #64defc;
	width: 45%;
	margin-top: -5px;
}


/* PRESS PAGE -------------------*/


#press-links {
	text-align: center;
	color: black;
}

#articles {
	font-weight: bold;
}


/* MEDIA QUERIES --------------*/

